:root {
  --egg-white-bg-color: #f9f7fe;
  --blueviolet: #895cf1;
}

body {
  background-color: var(--egg-white-bg-color);
  font-family: "Roboto", sans-serif;
}

input[type="search"] {
  background-color: var(--egg-white-bg-color);
}

input[type="submit"] {
  background-color: var(--blueviolet);
  border: 1px solid var(--blueviolet);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  color: #d8c8f3;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

input[type="submit"]:active {
  box-shadow: none;
  transform: translateY(1px);
}

hr {
  border: 1px solid #d1cece;
}

strong {
  color: #f65282;
}

p {
  color: #b7b6bc;
}

p a {
  color: var(--blueviolet);
}

.container {
  box-shadow: 4px 4px 4px #eeecf2;
}

.degrees {
  font-size: 100px;
  font-weight: bold;
}

.unit {
  font-size: 28px;
  /* position: relative; */
  /* top: -38px; */
  display: inline-block;
}

.icon {
  position: relative;
  top: -8px;
  font-size: 40px;
}
